@model E_Commerce.ViewModels.CartView

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>
<h3>@Html.DisplayFor(model => model.user.FirstName) @Html.DisplayFor(model => model.user.LastName)</h3>
<table class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
            Image
        </th>
        <th>
            Cost
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.carts)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.product.title)
            </td>
            <td>
                <img src=" @Html.DisplayFor(modelItem => item.product.image)" width="150" height="150" />
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.product.cost)
            </td>
        </tr>
    }
    <tr>
        <th>
            Total Cost
        </th>
        <th>

        </th>
        <th>
            $@Html.DisplayFor(model => model.TotalCost)
        </th>
        <th></th>
    </tr>

</table>
